@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 90vw;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.25) 0px 8px 24px;
}

.left {
    height: 100%;
    width: 100%;
    flex: 2;
    min-width: 300px;
    background-color: #f4f4f4;
    padding: 35px 25px;
}

.right {
    height: 100%;
    width: 100%;
    flex: 1.5;
    padding: 35px 25px;
}

#input{
    height: 100%;
    width: 100%;
    border: 0;
    font-size: 4vmax;
    font-weight: 600;
    outline: none;
    border: none;
    resize: none;
}

.list {
    height: 100%;
    width: 100%;
    padding-bottom: 50px;
    margin: 20px 0;
    overflow-y: scroll;
}

.list::-webkit-scrollbar {
    width: 0px;
}


.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #dadada;
}

.todo-item p {
    color: rgb(66, 66, 66);
    font-size: 0.9rem;
}

.todo-item > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.todo-item input, i {
    cursor: pointer;
}

.todo-item i:hover {
    color: rgb(226, 49, 49);
}


@media (max-width: 740px) {
    .main {
        flex-direction: column-reverse;
    }

}